.InviteBtn {
  background: linear-gradient(135deg, #33d35e, #2ab6d9);
  color: white;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  letter-spacing: -0.5px;
  font-size: 1rem;
  font-weight: bold;
  transition: opacity 0.5s ease;
}

.InviteBtn:hover {
  opacity: 0.7;
}
